<div class="bsidebar span_1_of_blog">
  <h2 class="head4">Search</h2>
  <div class="search">
    <form>
      <input type="text" value="Search...." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
      <input type="submit" value="">
    </form>
  </div>
  <h2 class="head4">Categories</h2>
  <ul class="list1">
    <li><a href="#">consectetuer adipiscing elit</a></li>
    <li><a href="#">Duis autem vel eum iriure dolo</a></li>
    <li><a href="#">soluta nobis eleifend option</a></li>
    <li><a href="#">consectetuer adipiscing elit</a></li>
    <li><a href="#">Duis autem vel eum iriure dolo</a></li>
    <li><a href="#">soluta nobis eleifend option</a></li>
  </ul>
  <h2 class="head4">Tags</h2>
  <ul class="tags">
    <li><a href="#">Events</a></li>
    <li><a href="#">Gallery</a></li>
    <li><a href="#">Videos</a></li>
    <li><a href="#">Albums</a></li>
    <li><a href="#">Solo Artists</a></li>
    <li><a href="#">Audio Post</a></li>
    <li><a href="#">Musical</a></li>
    <li><a href="#">Live</a></li>
    <li><a href="#">Concert</a></li>
    <li><a href="#">Movie</a></li>
  </ul>
</div>
<div class="clear"></div>

